<div class="header-inner">
    <div class="datetime-wrapper">
        <p class="date-display">2024-06-10</p>
        <p>
            <i class="ic-clock ic-size16"></i><span class="time-stamp">14:00</span>
        </p>
    </div>
    <div class="user">
        <button type="button" class="user__btn">
            <i class="ic-id ic-size24"><span class="a11y">환자 정보</span></i>
        </button>
        <div class="user-info">
            <div class="user-info__profile">
                <div><i class="ic-id ic-size32"></i></div>
                <p class="body5-regular">
                반갑습니다!
                    <span class="body5-bold color-point">김의사님</span>
                </p>
            </div>
            <a href="#_" class="user-info__logout"><span class="body5-bold">로그아웃<i class="ic-logout ic-size16"></i></span></a>
        </div>
    </div>
</div>
