/* 아이콘 */
i[class*="ic-"] {
	display: inline-block;
	flex-shrink: 0;
	vertical-align: middle;
	mask-repeat: no-repeat;
	mask-position: center;
	mask-size: cover;
	-webkit-mask-size: cover;
	background-color: var(--default-black);
}
i.ic-size8 {
	width: .5rem;
	height: .5rem;
}
i.ic-size12 {
	width: .75rem;
	height: .75rem;
}
i.ic-size16 {
	width: 1rem;
	height: 1rem;
}
i.ic-size20 {
	width: 1.25rem;
	height: 1.25rem;
}
i.ic-size24 {
	width: 1.5rem;
	height: 1.5rem;
}
i.ic-size32 {
	width: 2rem;
	height: 2rem;
}
i.ic-size42 {
	width: 2.625rem;
	height: 2.625rem;
}
i.ic-size120 {
	width: 7.5rem;
	height: 7.5rem;
}
/* @media screen and (max-width: 800px) {
	i.ic-size16 {
		width: 0.8125rem;
		height: 0.8125rem;
	}
	i.ic-size20 {
		width: 1rem;
		height: 1rem;
	}
	i.ic-size24 {
		width: 1.25rem;
		height: 1.25rem;
	}
} */
.ic-logo {
	-webkit-mask: url("../../resource/images/icon/ic-logo.svg");
	mask: url("../../resource/images/icon/ic-logo.svg");
}
.ic-dropdown {
	-webkit-mask: url("../../resource/images/icon/ic-dropdown.svg");
	mask: url("../../resource/images/icon/ic-dropdown.svg");
}
.ic-arrow {
	-webkit-mask: url("../../resource/images/icon/ic-arrow.svg");
	mask: url("../../resource/images/icon/ic-arrow.svg");
}
.ic-page-left {
	-webkit-mask: url("../../resource/images/icon/ic-page-left.svg");
	mask: url("../../resource/images/icon/ic-page-left.svg");
}
.ic-page-double-left {
	-webkit-mask: url("../../resource/images/icon/ic-page-double-left.svg");
	mask: url("../../resource/images/icon/ic-page-double-left.svg");
}
.ic-page-right {
	-webkit-mask: url("../../resource/images/icon/ic-page-right.svg");
	mask: url("../../resource/images/icon/ic-page-right.svg");
}
.ic-page-double-right {
	-webkit-mask: url("../../resource/images/icon/ic-page-double-right.svg");
	mask: url("../../resource/images/icon/ic-page-double-right.svg");
}
.ic-home {
	-webkit-mask: url("../../resource/images/icon/ic-home.svg");
	mask: url("../../resource/images/icon/ic-home.svg");
}
.ic-demo {
	-webkit-mask: url("../../resource/images/icon/ic-demo.svg");
	mask: url("../../resource/images/icon/ic-demo.svg");
}
.ic-data {
	-webkit-mask: url("../../resource/images/icon/ic-data.svg");
	mask: url("../../resource/images/icon/ic-data.svg");
}
.ic-clock {
	-webkit-mask: url("../../resource/images/icon/ic-clock.svg");
	mask: url("../../resource/images/icon/ic-clock.svg");
}
.ic-temperature {
	-webkit-mask: url("../../resource/images/icon/ic-temperature.svg");
	mask: url("../../resource/images/icon/ic-temperature.svg");
}
.ic-humidity {
	-webkit-mask: url("../../resource/images/icon/ic-humidity.svg");
	mask: url("../../resource/images/icon/ic-humidity.svg");
}
.ic-device-alert {
	-webkit-mask: url("../../resource/images/icon/ic-device-alert.svg");
	mask: url("../../resource/images/icon/ic-device-alert.svg");
}
.ic-sensor-alert {
	-webkit-mask: url("../../resource/images/icon/ic-sensor-alert.svg");
	mask: url("../../resource/images/icon/ic-sensor-alert.svg");
}
.ic-sensor {
	-webkit-mask: url("../../resource/images/icon/ic-sensor.svg");
	mask: url("../../resource/images/icon/ic-sensor.svg");
}
.ic-sensor-battery {
	-webkit-mask: url("../../resource/images/icon/ic-sensor-battery.svg");
	mask: url("../../resource/images/icon/ic-sensor-battery.svg");
}
.ic-battery_charging {
	-webkit-mask: url("../../resource/images/icon/ic-battery_charging.svg");
	mask: url("../../resource/images/icon/ic-battery_charging.svg");
}
.ic-battery_error {
	-webkit-mask: url("../../resource/images/icon/ic-battery_error.svg");
	mask: url("../../resource/images/icon/ic-battery_error.svg");
}
.ic-logout {
	-webkit-mask: url("../../resource/images/icon/ic-logout.svg");
	mask: url("../../resource/images/icon/ic-logout.svg");
}
.ic-download {
	-webkit-mask: url("../../resource/images/icon/ic-download.svg");
	mask: url("../../resource/images/icon/ic-download.svg");
}
.ic-retry {
	-webkit-mask: url("../../resource/images/icon/ic-retry.svg");
	mask: url("../../resource/images/icon/ic-retry.svg");
}
.ic-btn-bak {
	-webkit-mask: url("../../resource/images/icon/ic-btn-bak.svg");
	mask: url("../../resource/images/icon/ic-btn-bak.svg");
}
.ic-warn {
	-webkit-mask: url("../../resource/images/icon/ic-warn.svg");
	mask: url("../../resource/images/icon/ic-warn.svg");
}
.ic-info {
	-webkit-mask: url("../../resource/images/icon/ic-info.svg");
	mask: url("../../resource/images/icon/ic-info.svg");
}
.ic-success-white {
	-webkit-mask: url("../../resource/images/icon/ic-success-white.svg");
	mask: url("../../resource/images/icon/ic-success-white.svg");
	background-color: var(--default-white) !important;
}
.ic-search {
	-webkit-mask: url("../../resource/images/icon/ic-search.svg");
	mask: url("../../resource/images/icon/ic-search.svg");
}
.ic-id {
	-webkit-mask: url("../../resource/images/icon/ic-id.svg");
	mask: url("../../resource/images/icon/ic-id.svg");
}
.ic-id-focus {
	-webkit-mask: url("../../resource/images/icon/ic-id-focus.svg");
	mask: url("../../resource/images/icon/ic-id-focus.svg");
	background-color: var(--point) !important;
}
.ic-id-readonly {
	-webkit-mask: url("../../resource/images/icon/ic-id-readonly.svg");
	mask: url("../../resource/images/icon/ic-id-readonly.svg");
	background-color: var(--neutral-500) !important;
}
.ic-password {
	-webkit-mask: url("../../resource/images/icon/ic-password.svg");
	mask: url("../../resource/images/icon/ic-password.svg");
}
.ic-password2 {
	-webkit-mask: url("../../resource/images/icon/ic-password2.svg");
	mask: url("../../resource/images/icon/ic-password2.svg");
}
.ic-date {
	-webkit-mask: url("../../resource/images/icon/ic-date.svg");
	mask: url("../../resource/images/icon/ic-date.svg");
}
.ic-day {
	-webkit-mask: url("../../resource/images/icon/ic-day.svg");
	mask: url("../../resource/images/icon/ic-day.svg");
}
.ic-day_iso {
	-webkit-mask: url("../../resource/images/icon/ic-day_iso.svg");
	mask: url("../../resource/images/icon/ic-day_iso.svg");
}
.ic-close {
	-webkit-mask: url("../../resource/images/icon/ic-close.svg");
	mask: url("../../resource/images/icon/ic-close.svg");
}
.ic-eye {
	-webkit-mask: url("../../resource/images/icon/ic-eye.svg");
	mask: url("../../resource/images/icon/ic-eye.svg");
}
.ic-eye-off {
	-webkit-mask: url("../../resource/images/icon/ic-eye-off.svg");
	mask: url("../../resource/images/icon/ic-eye-off.svg");
}
.ic-language1 {
	-webkit-mask: url("../../resource/images/icon/ic-language1.svg");
	mask: url("../../resource/images/icon/ic-language1.svg");
}
.ic-language2 {
	-webkit-mask: url("../../resource/images/icon/ic-language2.svg");
	mask: url("../../resource/images/icon/ic-language2.svg");
}
.ic-manager {
	-webkit-mask: url("../../resource/images/icon/ic-manager.svg");
	mask: url("../../resource/images/icon/ic-manager.svg");
}
.ic-paly {
	-webkit-mask: url("../../resource/images/icon/ic-paly.svg");
	mask: url("../../resource/images/icon/ic-paly.svg");
}
.ic-network {
	-webkit-mask: url("../../resource/images/icon/ic-network.svg");
	mask: url("../../resource/images/icon/ic-network.svg");
}
.ic-network-off {
	-webkit-mask: url("../../resource/images/icon/ic-network-off.svg");
	mask: url("../../resource/images/icon/ic-network-off.svg");
}
.ic-network-on {
	-webkit-mask: url("../../resource/images/icon/ic-network-on.svg");
	mask: url("../../resource/images/icon/ic-network-on.svg");
}

.ic-adult, .ic-children {height: 3.5rem; background-color: var(--point) !important;} 
.ic-adult {
	width: 2.3333rem; 
	-webkit-mask: url("../../resource/images/icon/ic-adult.svg");
	mask: url("../../resource/images/icon/ic-adult.svg");
}
.ic-children {
	width: 2.1271rem;
	-webkit-mask: url("../../resource/images/icon/ic-children.svg");
	mask: url("../../resource/images/icon/ic-children.svg");
}