@import url("reset.css");
@import url("common.css");

body {
    -webkit-print-color-adjust: exact; /* 크롬, 사파리 */
    print-color-adjust: exact;
    line-height: 1.5;
}

.print-container {
    /* width: 210mm;  
    height: 297mm; 
    padding: 12.6mm 20.3mm;  */
    width: 794px; /*height: 1123px;*/
    box-sizing: border-box; 
    
    /* 화면과 동일한 배치를 위해 사용 */
    position: relative;
    background-color: #fff;
}

@media screen {
    .print-container {padding: 48px 77px;}
    img {max-width: 100%;}
    .page {
        width: 794px;
        margin: 20px auto;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    /* ------------------ */
    .sinhan img {width: 120px;}
    .snuh img {width: 320px;}
    .jaeger img {width: 120px;}
    .print__header {display: flex; align-items: center; justify-content: space-between; margin-bottom: 40px; height: 72px;}
        /* .print__header {position: fixed; top: 0; display: flex; align-items: center; justify-content: space-between; margin-bottom: 40px; height: 72px; width: 100%;} */
    .print__body .div-border-line2 {padding: 20px 24px; border: 1px solid var(--neutral-200); border-radius: 8px;}
    .print-card__body {display: flex; align-items: center; gap: 16px; margin-bottom: 12px;
        .print-card__info {font-size: 18px; color: var(--neutral-900); font-weight: 700;}
    }
    .print-card__grid {display: grid; grid-template-columns: repeat(2, 1fr);
        .print-card__list {
            .info-item {display: flex; align-items: center; gap: 24px;
                + .info-item {margin-top: 4px;}
                .info-item__label, .info-item__value {font-size: 12px;}
                .info-item__label {width: 80px; font-weight: 600; color: var(--neutral-700);}
                .info-item__value {font-weight: 700; color: var(--neutral-900);}
            }
        }
    }
    .print-table-wrap {margin-top: 56px;
        + .print-table-wrap {margin-top: 56px;}
        thead th, tbody td {padding: 6px 8px; text-align: center;}
        thead {
            &::after {content: ""; display: table-row; height: 4px;}
            th {padding: 6px 8px; background-color: var(--neutral-100); color: var(--neutral-900); font-size: 9px; font-weight: 700;
                &:first-child { border-radius: 8px 0 0 8px;}
                &:last-child { border-radius: 0 8px 8px 0; }
            }
        }
        th, td {line-height: 1.5;}
        tbody {
            tr {border-bottom: 1px solid var(--neutral-200);}
            td {color: var(--neutral-700); font-size: 10px;
                &.color-point {color: var(--point); font-weight: 600;}
                &.color-red-50 {color: var(--red-50); font-weight: 600;}
            }
        }
        .table__title {margin-bottom: 24px; font-size: 16px; color: var(--neutral-900); font-weight: 700;}

    }
}

@media print {
    @page {
        size: A4; /* 또는 auto */
        margin: 0; /* 피그마에서 이미 여백을 포함해 디자인했다면 0 */
        padding: 48px 77px;
    }
    body {padding: 0; margin: 0; line-height: 1.5;}
    table {width: 100%; page-break-inside: auto; /* 테이블 중간 끊김 허용 */}
    tr {page-break-inside: avoid; /* 행(Row) 하나가 두 페이지에 걸쳐 잘리는 것 방지 */ page-break-after: auto; }
    thead {display: table-header-group; /* ★ 중요: 매 페이지 상단에 표 제목줄 반복 */}
    img {max-width: 100%;}

    .page {width: 210mm; height: 297mm; margin: 0; box-shadow: none;}
    .page-number:after {/* 브라우저마다 지원 여부가 다를 수 있으나 표준 방식임 */content: "Page " counter(page);}
    .section-title {page-break-before: always; /* 이 섹션이 시작되기 전에 무조건 다음 장으로 넘김 */}
    .signature-box {page-break-inside: avoid; /* 서명란과 직인은 한 세트이므로 절대 잘리지 않게 함 */}
    .sinhan img {width: 120px;}
    .snuh img {width: 320px;}
    .jaeger img {width: 120px;}
    .print__header {display: flex; align-items: center; justify-content: space-between; margin-bottom: 40px; height: 72px;}
    .print__body .div-border-line2 {padding: 20px 24px; border: 1px solid var(--neutral-200); border-radius: 8px;}
    .print-card__body {display: flex; align-items: center; gap: 16px; margin-bottom: 12px;
        .print-card__info {font-size: 18px; color: var(--neutral-900); font-weight: 700;}
    }
    .print-card__grid {display: grid; grid-template-columns: repeat(2, 1fr);
        .print-card__list {
            .info-item {display: flex; align-items: center; gap: 24px;
                + .info-item {margin-top: 4px;}
                .info-item__label, .info-item__value {font-size: 12px;}
                .info-item__label {width: 80px; font-weight: 600; color: var(--neutral-700);}
                .info-item__value {font-weight: 700; color: var(--neutral-900);}
            }
        }
    }
    .print-table-wrap {margin-top: 56px;
        + .print-table-wrap {margin-top: 56px;}
        thead th, tbody td {padding: 6px 8px; text-align: center;}
        thead {
            &::after {content: ""; display: table-row; height: 4px;}
            th {padding: 6px 8px; background-color: var(--neutral-100); color: var(--neutral-900); font-size: 9px; font-weight: 700;
                &:first-child { border-radius: 8px 0 0 8px;}
                &:last-child { border-radius: 0 8px 8px 0; }
            }
        }
        th, td {line-height: 1.5;}
        tbody {
            tr {border-bottom: 1px solid var(--neutral-200);}
            td {color: var(--neutral-700); font-size: 10px;
                &.color-point {color: var(--point); font-weight: 600;}
                &.color-red-50 {color: var(--red-50); font-weight: 600;}
            }
        }
        .table__title {margin-bottom: 24px; font-size: 16px; color: var(--neutral-900); font-weight: 700;}

    }
}



/* .no-print {
    display: none !important;
} */