@charset "UTF-8";

/* Reset */
html,body,h1,h2,h3,h4,h5,h6,div,p,blockquote,pre,code,address,ul,ol,li,nav,section,article,header,footer,main,aside,dl,dt,dd,table,thead,tbody,tfoot,label,caption,th,td,form,fieldset,legend,hr,input,button,textarea,object,figure,figcaption {margin:0;padding:0; line-height: 1; box-sizing: border-box; word-break: keep-all; color: var(--default-black); -webkit-text-size-adjust: none;
	/*세로모드에서 가로모드로 전환할때 텍스트가 약간 커지는 현상 방지*/}
body,input,select,textarea,button,img,fieldset {border:none;}
body, html{font-family: 'Pretendard', 'Poppins', 'Noto Sans KR', sans-serif, 'Nanum Gothic', 돋움, dotum, 굴림, gulim, Helvetica, AppleGothic;}
ul,ol,li{list-style:none;}
table{width:100%;border-spacing:0;border-collapse:collapse;}
address,cite,code,em,i{font-style:normal;font-weight:normal;}
label,img,input,select,textarea,button,a {vertical-align:middle;}
u,ins,a{text-decoration:none;}
button {background: none; cursor: pointer; font-family: 'Pretendard', 'Poppins', 'Noto Sans KR', sans-serif, 'Nanum Gothic', 돋움, dotum, 굴림, gulim, Helvetica, AppleGothic;}

/* a:link,
a:visited,
a:hover,
a:active,
a:focus {color: var(--default-black);} */

.clearfix:after{content: ''; display: block; clear: both;}

/* Normalize */
/* body { font-family: 'Noto Sans KR'; } */
select { appearance:none;}
select::-ms-expand { display:none;}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration,
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button { -webkit-appearance:none;}
input[type="number"]{ -moz-appearance:textfield;}
input[type="number"],
input[type="text"],
input[type="password"],
input[type="url"],
input[type="email"],
input[type="tel"],
input[type="date"], 
textarea { -webkit-appearance:none; -moz-appearance:none; appearance:none; /*-webkit-border-radius:0;*/ outline:0; font-family: var(--font-pretendard);}
textarea { resize: none;}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent; /* 배경 투명하게 */
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

table {border-collapse: collapse; border-spacing: 0; empty-cells: show;}

.a11y, .ally {position: absolute !important; overflow: hidden; height: 1px; width: 1px; clip: rect(1px, 1px, 1px, 1px); border: 0; padding: 0; margin: -1px; overflow: hidden;}
caption.a11y {position: static !important;}

label {cursor: pointer;}
::before, ::after {border: 0;}