@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
/* @import url("fonts.css"); */
@import url("reset.css");
@import url("common.css");
@import url("icon.css");

body, html {font-size: clamp(14px, 0.833vw, 30px);} /* 폰트 사이즈 - 최저 기본 최대 */
body {background-color: var(--bg1);}
.wrap {position: relative; display: flex; height: 100vh; overflow: hidden;}

/********************************* header *********************************/
.header {flex-shrink: 0; display: flex; height: var(--side-height); min-height: var(--side-height); z-index: 100; background-color: var(--default-white); border-bottom: 1px solid var(--default-black);
    .header-inner {flex: 1; display: flex; align-items: center; justify-content: space-between; padding: .625rem 1.5rem; width: 100%;}
    .datetime-wrapper {display: flex; align-items: center; gap: 1rem;}
    .datetime-wrapper {
        .date-display, .time-stamp {font-size: 0.875rem; font-weight: 700; color: var(--default-black);}
        .time-stamp {margin-left: 4px;}
    }
    .user {position: relative;
        .user__btn {padding: .375rem; background-color: var(--point); border-radius: 50%;}
        .ic-id {background-color: var(--default-white); border-radius: 50%;}
        .user-info {position: fixed; top: 3.375rem; right: 1.5rem; padding: 1rem; display: none; min-width: 11rem; background-color: var(--default-white); border: 1px solid var(--default-black); border-radius: 8px;
            &.is-active {display: block;}
            .user-info__profile {border-bottom: 1px solid var(--neutral-300); text-align: center;
                div {display: inline-block; padding: .5rem; background-color: var(--point); border-radius: 50%;}
                p {margin: .75rem 0;}
            }
            .user-info__logout {display: block; margin-top: .75rem; text-align: center;
                span {display: flex; align-items: center; justify-content: center; gap: .25rem; color: var(--neutral-700);}
            }
        }
    }
}

/********************************* side bar *********************************/
/* login bar */
img {max-width: 100%;}
.login-side {position: relative; width: 31.125rem; display: flex;
    flex-direction: column; flex-shrink: 0; border-right: 1px solid var(--default-black); background-color: #F7F7F7; overflow: hidden;
    .login-side__header {position: absolute; top: 7.5rem; left: 50%; transform: translateX(-50%); width: calc(100% - 3rem); height: calc(100% - 7.5rem);
        .login-side__header-title {margin-bottom: 1.5rem;}
    }
}

/* left-gnb */
.side-bar {display: flex; flex-direction: column; width: var(--side-width); flex-shrink: 0; border-right: 1px solid var(--default-black); background-color: var(--default-white);
    .logo {display: flex; align-items: center; justify-content: center; width: var(--side-width); min-width: var(--side-width); height: var(--side-height); min-height: var(--side-height); background-color: var(--bg2); text-align: center; border-right: 1px solid var(--default-black);}
    .left-gnb {flex: 1; overflow-y: auto;
        li {border-bottom: 1px solid var(--neutral-300);}
        a {display: flex; align-items: center; gap: 1rem; padding: 1rem 1.5rem; font-size: var(--font-body3-size); color: var(--neutral-900);
        &.is-active {color: var(--point);
            i {background-color: var(--point);}
        }
    }
    }
}

/********************************* login *********************************/
.login {flex: 1; display: flex; align-items: center; justify-content: center; padding: 2rem;}
.login__main {
    .login__inner {background-color: var(--default-white);}
}
.login-input-wrap {padding: 5rem; background-color: var(--default-white); border-radius: 16px;
    .login-input-box + .login-input-box {margin-top: 1.5rem;}
}
.login__title {margin-bottom: 4rem; }
.form-label {padding-bottom: .5rem; font-size: var(--font-body4-size); line-height: 1.5; color: var(--neutral-700);}
.login-input-btn-group {margin: 4rem 0;}

.login-side__img {position: absolute; bottom: 5rem; left: 1.875rem; width: 24.375rem;} 
.contents.contents__login {
    .login__inner {flex: 1; display: flex; align-items: center; justify-content: center; padding: 3.5rem; width: 100%; min-height: 37.5rem; background-color: var(--default-white);}
}
.contents__login {flex: 1; display: flex; flex-direction: column; overflow-y: auto; 
    .login {display: flex; justify-content: center; padding: 0; width: 100%;}
    .login-input-wrap {min-width: 32.375rem; padding: 0;}
    .page-link {text-decoration-line: underline;}
}
.login-input-box__desc {display: flex; align-items: center; gap: 4px; line-height: 1.5;
    &.noti {margin-top: .5rem; color: var(--neutral-700);
        &::before {display: block; content: ""; width: 4px; height: 4px; aspect-ratio: 1/1; background-color: var(--neutral-700); border-radius: 50%;}
    }
    &.noti-error, &.noti-success {margin-top: .25rem; font-size: .75rem; }
    &.noti-error {color: var(--red-50);
        span {background-color: var(--red-50);}
        i {background-color: var(--default-white);}
    }
    &.noti-success {color: var(--point);
        span {background-color: var(--point);}
    }
    span {display: inline-flex; align-items: center; justify-content: center; width: 1rem; height: 1rem;  border-radius: 50%;}
}
/* .login-input-box__btn {transition: all 0.2s ease-in-out;
    &:hover {background-color: var(--point); border: 1px solid var(--point); }
} */
.search-wrap input {min-width: 25rem;}

/* rock */
.rock-wrap {height: 100%;}
.login-rock {display: flex; flex-direction: column;  align-items: center;  
    .login-rock__img {display: block; margin: 0 auto; width: 12.5625rem; height: 10.125rem; background: url('../../resource/images/common/rock-img.svg') no-repeat center / contain;} 
    .login-rock__desc {margin: 3rem 0; text-align: center; }
    .btn {display: inline-flex; align-items: center; justify-content: center; width: auto;}
}

/********************************* 우측 컨텐츠 영역 *********************************/
.container {display: flex; flex: 1; flex-direction: column; height: 100vh; overflow: hidden; min-width: 0;}
.contents {flex: 1; overflow-y: auto; 
    .contents__inner {position: relative; padding: 2.5rem; margin: 0 auto; min-width: 1200px; height: 100%; background-color: var(--bg1);}
    .contents__header {display: flex; justify-content: space-between; align-items: center; margin-bottom: 1.5rem;
        .contents__header-title {font-size: var(--font-title4-size); font-weight: 600; line-height: 1.5;}
    }
    .contents__body {display: flex; justify-content: space-between; gap: 1.5rem; height: 100%;
        .contents__body--left {/*flex: 0;*/ flex: 0 0 auto; min-width: 22.5rem; transition: all ease-in-out 0.5s;
            @media (max-width: 1500px) {min-width: 20rem;}
        }
        .contents__body--right {position: relative; flex: 1; /*display: flex; justify-content: center; align-items: center;*/ min-height: 31.25rem;}
    }
}

/* 잔여시간 */
.timer-container {position: absolute; top: 0; right: 0; display: flex; justify-content: center; align-items: center; width: 15rem; height: 15rem;
    .timer-svg {transform: rotate(-90deg); width: 100%; height: 100%;}
    circle {fill: var(--default-white); stroke-width: 10; stroke-linecap: round;}
    .timer-bg {stroke: var(--neutral-200);}
    .timer-progress {stroke: var(--point); stroke-dasharray: 282.7; stroke-dashoffset: 0; transition: stroke-dashoffset 1s linear; fill: none;}
    .timer-text {position: absolute; text-align: center;
        p {margin: 0; color: var(--neutral-700);}
        small {margin-left: .25rem; }
    }   
}

/********************************* 01 home 홈  *********************************/
/* home - 환자 데이터 입력 (Enter Patient Data) */
.enter-patient-wrap {min-width: 47.5rem;}

/* 성인, 소아 선택 */
.select-person {display: grid; grid-template-columns: repeat(2, 1fr); height: 100%;
    a:first-child {border-right: 1px solid var(--default-black);}
    a, .person-icon, .select-person__title, .ic-arrow {transition: all 0.5s ease-in-out;}
    a {position: relative; padding: 5rem; overflow: hidden;
        .person-icon {position: absolute; bottom: -5rem; right: 2.5rem; width: 25rem; height: 37.5rem; 
            &.adult {background: url(../../resource/images/common/adult.svg) no-repeat center center / cover;}
            &.children {background: url(../../resource/images/common/children.svg) no-repeat center center / cover;}
        }
        .select-person__title {display: flex; align-items: center; justify-content: space-between; 
            .ic-arrow {margin-right: 1.875rem; background-color: var(--bg1);}
        }
        &.is-active, &:hover {background-color: var(--bg3);
            .select-person__title {color: var(--default-white);
            .ic-arrow {margin-right: 0; background-color: var(--default-white);}
            }
            .person-icon {bottom: 2.5rem;
            &.adult {background: url(../../resource/images/common/adult_is-active.svg) no-repeat center center / cover;}
            &.children {background: url(../../resource/images/common/children_is-active.svg) no-repeat center center / cover;}
            }
        }
    }
}

/* 측정대기 */
.measurement-section {display: block; /*align-items: center; flex-direction: column; justify-content: center;*/ margin-top: 4.8125rem; width: calc(100% - 15rem);}
.measurement-inner {display: inline-flex; flex-direction: column; align-items: center;}
.instruction-bubble {position: absolute; bottom: calc(100% + 1.875rem); left: 50%; transform: translateX(-50%); padding: 1.25rem 2rem; white-space: nowrap; background-color: var(--default-white); border-radius: 16px; box-shadow: 2.5px 2.5px 8px 0 rgba(0, 0, 0, 0.12);
 border: 1px solid #000; z-index: 10; font-size: var(--font-body1-size); line-height: 1.5; font-weight: 700;
    &::after {content: ''; position: absolute; bottom: -1.0625rem; left: 50%; transform: translateX(-50%) rotate(45deg); width: 2rem; height: 2rem; background: var(--default-white); border-bottom-right-radius: 6px; border-right: 1px solid #000; border-bottom: 1px solid #000; z-index: -1;}
    span {color: var(--point);}
}
/* 중앙 측정 게이지 레이아웃 */
.gauge-container {position: relative; display: inline-flex; align-items: center; gap: 10rem; height: 100%; transition: all ease-in-out 0.5s;
    @media (max-width: 1600px) {gap: 5rem;}
}
.lines-column {display: flex; flex-direction: column; justify-content: space-between;
    .lines-box {display: flex; flex-direction: column; gap: 91px;}
    .line {width: 9.125rem; height: 6px; background-color: var(--neutral-500);
        &.blue {background-color: var(--point);}
        &.pink {background-color: var(--pink-50);}
    }
}
.ball-path, .lines-column {min-height: 726px; height: 45.375rem; max-height: 79.8vh;}
/* 성인 공 */
.ball-path {position: relative; width: 160px;}
.ball {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); transition: transform 0.1s ease-out; width: 100%; height: auto;}
.btn-start-box {position: relative; display: flex; align-items: center; flex-direction: column; gap: 2.5rem; margin-top: -7.125rem;
    &.ball-btn {justify-content: flex-end; min-height: 19.0625rem;}
    &.balloon-btn {margin-top: 0;}
}
.btn-start {width: 11.25rem; height: 11.25rem; background: url(../../resource/images/common/btn-start.svg) no-repeat center/cover; transition: all 0.2s ease-in-out;
    &:hover {background: url(../../resource/images/common/btn-start_hover.svg) no-repeat center/cover;}
}

/* 소아 풍선 */
.measurement-section__balloon {display: flex; flex-direction: column; align-items: center; margin-top: 10rem; 
    .measurement-inner {gap: 5.125rem;}
    .gauge-container {position: relative; display: flex; justify-content: center; align-items: center; margin: 0 auto; width: 35rem; max-width: 35rem; height: 35rem; max-height: 35rem; aspect-ratio: 1 / 1; background: url(../../resource/images/common/balloon-blue_bg.svg) no-repeat center/contain;}
    &.wait {margin-top: 14.875rem;
        .gauge-container {min-width: 22.5rem; width: 22.5rem; min-height: 22.5rem; height: 22.5rem;}
        .balloon img {width: 10rem;}
    }
    &.fail-bg {
        .gauge-container {background: url(../../resource/images/common/balloon-red_bg.svg) no-repeat center/contain;}
        .instruction-bubble span {color: var(--pink-50);}
    }
    &.fail {
        .balloon img {width: 38.375rem;}
    }
} 
.balloon-path {position: relative; /*min-width: 22.5rem;*/ /*min-width: 38.375rem;*/}
.balloon {position: absolute; top: 50%; left: 50%; transform: translate(-49%, -27%); max-width: 38.375rem; transition: width 0.3s ease, transform 0.1s ease-out; z-index: 5;}
    .balloon img {display: block; width: auto; max-width: none; height: auto;}
.ball img, .balloon img {animation: float 5s ease-in-out infinite;}
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-0.3rem); 
    }
    100% {
        transform: translateY(0);
    }
}

/* 측정 결과 */
.contents__body--left {
    &.left__type2 {display: flex; flex-direction: column; justify-content: space-between;
        .info-card__header {margin-bottom: 1.5rem;}
        .info-card {padding: 0;}
    }
}
.table-wrap__type2 {padding: 0;
    .table__title {margin-bottom: 1.5rem;}
    table tbody {display: block; width: 100%; max-height: 15rem; overflow-y: scroll;
        &::-webkit-scrollbar {width: 4px;}
        &::-webkit-scrollbar-thumb {border: 4px solid var(--neutral-400); /*background-color: var(--neutral-200);*/ border-radius: 999px;}
        &::-webkit-scrollbar-track {background-color: var(--neutral-200); border-radius: 999px;}
        &::-webkit-scrollbar-button:vertical:end:decrement {display: block;}
        tr:last-child {border-bottom: 0;}
    }
    table thead, table tbody tr, tfoot tr {display: table; table-layout: fixed; width: 25.75rem; /*max-width: 25.75rem;*/}
    tbody td, tfoot th {line-height: 1.31;}
    tfoot tr {background-color: var(--bg1); border-top: 1px solid var(--neutral-300); border-bottom: 1px solid var(--neutral-300);} 
}
.result-card__ppb {position: relative; height: 100%; background-color: var(--bg4); border-radius: 8px; overflow: hidden;
    .result-card__ppb-data {display: flex; align-items: baseline; gap: 1rem; padding: 4.5rem 0 3.875rem 7rem;
        p, span {color: var(--point);}
        p {font-size: 15rem; font-weight: 600; line-height: 1.2;}
        span {font-size: 4.5rem; font-weight: 500;}
    } 
    .btn-bak {position: absolute; right: 1.5rem; top: 1.5rem;}
    .result-img {position: absolute; bottom: -2.8125rem; right: 6.875rem; 
        @media (max-width: 1600px) {
            right: 0;
            img {max-width: 80%;}
        }
    }
}

/********************************* 02 demo 데모 *********************************/
.no-data {padding: 5.25rem 0;
    .ic-data-edit {background-color: var(--neutral-400);}
    p {padding-top: 8px; color: var(--neutral-400);}
}

/********************************* 03 환자 데이터  *********************************/
/* 데이터 리스트 data list */
.data-list__total {margin-bottom: 1rem; color: var(--neutral-700);}
.total-num {color: var(--bg2);}
.table-box__data-list {
    tbody tr td:nth-child(2) {font-weight: 600;}
    tbody tr:hover {background-color: var(--neutral-200);}
    tbody tr:hover td:first-child, tbody tr:hover td:nth-child(2) {color: var(--point);}
    tbody td.color-point {font-weight: 400;
        &:hover {font-weight: 600;}
    }
}

/* 환자 정보 patient - 환자 데이터 상세보기 */ 
.dot {position: absolute; top: 50%; transform: translateY(-50%); left: 0; display: block; width: .375rem; height: .375rem; background-color: var(--point); border-radius: 50%;}
.ic-bg__gray {display: inline-block; padding: .75rem 1.375rem; min-height: 5rem; background-color: var(--bg1); border-radius: 8px; text-align: center;}

.info-card, .result-card, .table-wrap {display: flex; flex-direction: column; border-radius: 8px;
    .info-card__title, .result-card__title, .table__title {position: relative; padding-left: .875rem;}
}
.chart__title {display: flex; align-items: center; justify-content: space-between; margin-bottom: 2rem;
    .table__title {margin-bottom: 0;}
    em {color: var(--neutral-500);}
}
.result-card__header, .info-card__header {margin-bottom: 1.25rem;}
.info-card__header {display: flex; align-items: center; justify-content: space-between;
    .ic-manager {background-color: var(--neutral-500);}
}
.info-card + .info-card, .result-card + .result-card {margin-top: 1.5rem;}
.contents__body--left {
    .info-card {padding: 1.5rem 2rem;
        .info-card__avatar {display: flex; gap: 1rem; margin-bottom: 1.5rem; width: 5rem; height: 5rem;}
        .info-item {
            + .info-item {margin-top: 1rem;}
            .info-item__label {margin-bottom: .25rem; font-size: var(--font-title6-size); font-weight: 700; line-height: 1.5; color: var(--neutral-700);}
            .info-item__value {font-size: var(--font-body1-size); font-weight: 700; line-height: 1.5;}
            .btn-wrap {gap: 1rem;}
        }
    }
    .result-card {padding: 2.5rem;
        @media (max-width: 1500px) {padding: 2rem;}
        .result-card__body {display: flex; align-items: center; gap: 1.5rem; margin-bottom: 1.5rem;
            &.result-card__list {display: block; padding-bottom: 1.5rem; border-bottom: 1px solid var(--neutral-300);}
        }
        .result-card__info {
            .result-card__value {font-size: var(--font-body2-size); font-weight: 700; line-height: 1.5;} 
            /* .result-card__name {margin-bottom: .5rem; font-size: var(--font-body2-size);} */
        }
        .result-card__list {
            .info-item {display: flex; align-items: center; gap: 1rem;
                + .info-item {margin-top: 1rem;}
                .info-item__label, .info-item__value {line-height: 1.5;} 
                .info-item__label {min-width: 5.5rem; font-size: var(--font-body3-size); color: var(--neutral-700); font-weight: 600; }
                .info-item__value {font-size: var(--font-body3-size); font-weight: 700; color: var(--neutral-900);}
            }
        }
        .result-card__header--lastest {display: flex; align-items: baseline; justify-content: space-between; /*margin-bottom: 1.5rem;*/
        }
        .result-card__date {font-size: var(--font-body5-size); color: var(--neutral-500); line-height: 1.5;}
        .result-card__body--lastest {display: flex; align-items: center; padding: .625rem 1.5rem; background-color: var(--bg1); border-radius: 8px;
            .lastest__value {
                .lastest__value-num, .lastest__value-ppb {line-height: 1.5;}
                .lastest__value-num {font-size: var(--font-title4-size); font-weight: 600;}
                .lastest__value-ppb {font-size: var(--font-body3-size); color: var(--neutral-700); font-weight: 500;}
            }
        }
    }
}
.table__title {margin-bottom: 2rem;}


.chart_wrap {min-width: 47.3125rem; width: 100%; max-width: 93.75rem; height: 25rem; }