@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
/* @import url("fonts.css"); */
@import url("reset.css");
@import url("common.css");
@import url("icon.css");

body, html {font-size: clamp(14px, 0.833vw, 30px);}
body {background-color: var(--bg1);}
.wrap {position: relative; display: flex; height: 100vh; overflow: hidden;}

/********************************* header *********************************/
.header {flex-shrink: 0; display: flex; height: var(--side-height); min-height: var(--side-height); z-index: 100; background-color: var(--default-white); border-bottom: 1px solid var(--default-black);
    /* &.main-header {display: flex;} */
    .header-inner {flex: 1; display: flex; align-items: center; justify-content: space-between; padding: .625rem 1.5rem; width: 100%;}
    .datetime-wrapper {display: flex; align-items: center; gap: 1rem;}
    .datetime-wrapper {
        .date-display, .time-stamp {font-size: 0.875rem; font-weight: 700;}
        .time-stamp {margin-left: 4px;}
    }
    .user {position: relative;
        .user__btn {padding: .375rem; background-color: var(--point); border-radius: 50%;}
        .ic-id {background-color: var(--default-white); border-radius: 50%;}
        .user-info {position: fixed; top: 3.375rem; right: 1.5rem; padding: 1rem; display: none; min-width: 11rem; background-color: var(--default-white); border: 1px solid var(--default-black); border-radius: 8px;
            &.is-active {display: block;}
            .user-info__profile {border-bottom: 1px solid var(--neutral-300); text-align: center;
                div {display: inline-block; padding: .5rem; background-color: var(--point); border-radius: 50%;}
                p {margin: .75rem 0;}
            }
            .user-info__logout {display: block; margin-top: .75rem; text-align: center;
                span {display: flex; align-items: center; justify-content: center; gap: .25rem; color: var(--neutral-700);}
            }
        }
    }
}

/********************************* side bar *********************************/
/* login bar */
img {max-width: 100%;}
.login-side {position: relative; width: 31.125rem; display: flex;
    flex-direction: column; flex-shrink: 0; padding: 7.5rem 1.5rem 4.9375rem 1.5rem; border-right: 1px solid var(--default-black); background-color: #F7F7F7; overflow: hidden;
    .login-side__header {position: absolute; top: 7.5rem; left: 50%; transform: translateX(-50%); width: calc(100% - 3rem); height: 100%;
        .login-side__header-title {margin-bottom: 1.5rem;}
    }
}
.login-side__img {position: absolute; bottom: 10rem; left: 50%; transform: translateX(-50%); width: 24.375rem;} 
.contents.contents__login {
    .login__inner {flex: 1; display: flex; align-items: center; justify-content: center; padding: 3.5rem; min-height: 37.5rem; /* ★중요: 로그인 폼이 찌그러지지 않을 최소 높이 설정 */ background-color: var(--default-white);}
}
.contents__login {flex: 1; display: flex; flex-direction: column; overflow-y: auto; 
    .login {display: flex; justify-content: center; padding: 0; width: 100%;}
    .login-input-wrap {min-width: 32.375rem; padding: 0;}
    .page-link {text-decoration-line: underline;}
}

/* left-gnb */
.side-bar {display: flex; flex-direction: column; width: var(--side-width); flex-shrink: 0; border-right: 1px solid var(--default-black); background-color: var(--default-white);
    .logo {display: flex; align-items: center; justify-content: center; width: var(--side-width); min-width: var(--side-width); height: var(--side-height); min-height: var(--side-height); background-color: var(--bg2); text-align: center; border-right: 1px solid var(--default-black);}
    .ic-logo {display: block; width: 10.625rem; height: 1.4375rem; background-color: var(--default-white);}
    .left-gnb {flex: 1; overflow-y: auto;
        li {border-bottom: 1px solid var(--neutral-300);}
        a {display: flex; align-items: center; gap: 1rem; padding: 1rem 1.5rem; font-size: var(--font-body3-size); color: var(--neutral-900);
        &.is-active {color: var(--point);
            i {background-color: var(--point);}
        }
    }
    }
}

/********************************* login *********************************/
.login {flex: 1; display: flex; align-items: center; justify-content: center; padding: 2rem;}
.login__main {
    .login__inner {background-color: var(--default-white);}
}
.login-input-wrap {padding: 5rem; background-color: var(--default-white); border-radius: 16px;
    .login-input-box + .login-input-box {margin-top: 1.5rem;}
}
.login__title {margin-bottom: 4rem;}
.form-label {display: inline-block; padding-bottom: .5rem; font-size: var(--font-body4-size); line-height: 1.5; color: var(--neutral-700);}
.login-input-btn-group {margin: 4rem 0;}

/* rock */
.rock-wrap {height: 100%;}
.login-rock {display: flex; flex-direction: column;  align-items: center;  
    .login-rock__img {display: block;
            margin: 0 auto;
            width: 12.5625rem;
            height: 10.125rem;
            background: url('../../resource/images/common/rock-img.svg') no-repeat center / contain;}  
    /* .rock-img {display: block; margin: 0 auto; width: 12.5625rem; height: 10.125rem;} */
    .login-rock__desc {margin: 3rem 0; text-align: center;}
    .btn {display: inline-flex; align-items: center; justify-content: center; width: auto; min-width: 12.5rem;}
}

/********************************* 우측 컨텐츠 영역 *********************************/
.container {display: flex; flex: 1; flex-direction: column; height: 100vh; overflow: hidden;}
.contents {flex: 1;  overflow-y: auto; /* 컨텐츠 길어지면 내부 스크롤 */
    .contents__inner {position: relative; padding: 2.5625rem 2.5rem; height: 100%; background-color: var(--bg1);}
    .contents__header {display: flex; justify-content: space-between; align-items: center; margin-bottom: 1.5rem;
        .contents__header-title {font-size: var(--font-title4-size); font-weight: 600; line-height: 1.5; color: var(--neutral-900);}
    }
    .contents__body {display: flex; justify-content: space-between; gap: 1.5rem; height: 100%;
        .contents__body--left {flex: 0; /*flex: 0 0 auto;*/ min-width: 20rem;}
        .contents__body--right {position: relative; flex: 1;}
    }
}




/*********************************  *********************************/
/* 데모 - 환자 정보 */
.dot {position: absolute; top: 50%; transform: translateY(-50%); left: 0; display: block; width: .375rem; height: .375rem; background-color: var(--point); border-radius: 50%;}
.ic-bg__gray {display: inline-block; padding: .75rem 1.375rem; min-height: 5rem; background-color: var(--bg1); border-radius: 8px; text-align: center;}

.info-card, .result-card, .table-wrap {display: flex; flex-direction: column; border-radius: 8px;
    .info-card__title, .result-card__title, .table__title {position: relative; padding-left: .875rem; /*margin-bottom: 1.5rem; */}
}
.result-card__header, .info-card__header {margin-bottom: 1.5rem;}
.info-card__header {display: flex; align-items: center; justify-content: space-between;
    .ic-manager {background-color: var(--neutral-500);}
}
.info-card + .info-card, .result-card + .result-card {margin-top: 1.5rem;}
.contents__body--left {flex: 0 0 auto; min-width: 20rem;
    .info-card {padding: 1.5rem 2rem;
        .info-card__avatar {display: flex; gap: 1rem;}
        .info-item {
            + .info-item {margin-top: 1rem;}
            .info-item__label {font-size: var(--font-title6-size); font-weight: 700; line-height: 1.5; color: var(--neutral-700);}
            .info-item__value {font-size: var(--font-body1-size); font-weight: 700; line-height: 1.5;}
        }
    }
    .result-card {padding: 2.5rem;
        .result-card__body {display: flex; align-items: center; gap: 1.5rem; margin-bottom: 1.5rem;}
        .result-card__info {
            .result-card__name, .result-card__value {font-weight: 700; line-height: 1.5;} 
            .result-card__name {margin-bottom: .5rem; font-size: var(--font-body2-size);}
            .result-card__value {font-size: var(--font-body3-size);}
        }
        .result-card__list {
            .info-item {display: flex; gap: .5rem;
                + .info-item {margin-top: 1rem;}
                .info-item__label, .info-item__value {font-weight: 600; line-height: 1.5;} 
                .info-item__label {min-width: 6rem; font-size: var(--font-title6-size); color: var(--neutral-700);}
                .info-item__value {font-size: var(--font-body3-size);}
            }
        }
        .result-card__header--lastest {display: flex; align-items: baseline; justify-content: space-between; /*margin-bottom: 1.5rem;*/
            .result-card__title {color: var(--default-white);
                .dot {background-color: var(--neutral-300);}
            }
        }
        .result-card__date {font-size: var(--font-body5-size); color: var(--neutral-300); line-height: 1.5;}
        .result-card__body--lastest {display: flex; align-items: center; padding: .625rem 1.5rem; background-color: rgba(247, 247, 247, 0.08); border-radius: 8px;
            .lastest__value {
                .lastest__value-num, .lastest__value-ppb {line-height: 1.5;}
                .lastest__value-num {font-size: var(--font-title4-size); color: var(--default-white); font-weight: 600;}
                .lastest__value-ppb {font-size: var(--font-body3-size); color: var(--neutral-300); font-weight: 500;}
            }
        }
    }
}
.table__title {margin-bottom: 2rem;}

/********************************* 01 home 홈  *********************************/
/* home - 환자 데이터 입력 (Enter Patient Data) */
.enter-patient-wrap {min-width: 47.5rem;}

/* 성인, 소아 선택 */
.select-person {display: grid; grid-template-columns: repeat(2, 1fr); height: 100%;
    a:first-child {border-right: 1px solid var(--default-black);}
    a, .person-icon, .select-person__title, .ic-arrow {transition: all 0.5s ease-in-out;}
    a {position: relative; padding: 5rem; overflow: hidden;
        .person-icon {position: absolute; bottom: -5rem; right: 2.5rem; width: 25rem; height: 37.5rem; 
            &.adult {background: url(../../resource/images/common/adult.svg) no-repeat center center / cover;}
            &.children {background: url(../../resource/images/common/children.svg) no-repeat center center / cover;}
        }
        .select-person__title {display: flex; align-items: center; justify-content: space-between; 
            .ic-arrow {margin-right: 1.875rem; background-color: var(--bg1);}
        }
        &.is-active {background-color: var(--bg3);}
        &.is-active .select-person__title {color: var(--default-white);
            .ic-arrow {margin-right: 0; background-color: var(--default-white);}
        }
        &.is-active .person-icon {bottom: 2.5rem;
            &.adult {background: url(../../resource/images/common/adult_is-active.svg) no-repeat center center / cover;}
            &.children {background: url(../../resource/images/common/children_is-active.svg) no-repeat center center / cover;}
        }
    }
}
/* 재실행 */
/* 팝업 */
/* 측정대기 */
.measurement-section {display: block; /*align-items: center; flex-direction: column; justify-content: center;*/ margin-top: 4.8125rem; /*height: calc(100vh - 6rem);*/}
.measurement-inner {display: inline-flex; flex-direction: column; align-items: center;}
.instruction-bubble {position: absolute; bottom: calc(100% + 2rem); left: 50%; transform: translateX(-50%); padding: 1.25rem 2rem; white-space: nowrap; background-color: var(--default-white); border-radius: 16px;
 border: 1px solid #000; z-index: 10; font-size: var(--font-body1-size); line-height: 1.5; font-weight: 700;
    &::after {content: ''; position: absolute; bottom: -1.0625rem; left: 50%; transform: translateX(-50%) rotate(45deg); width: 2rem; height: 2rem; background: var(--default-white); border-bottom-right-radius: 6px; border-right: 1px solid #000; border-bottom: 1px solid #000; z-index: -1;}
    span {color: var(--point);}
}
/* 중앙 측정 게이지 레이아웃 */
.gauge-container {position: relative; display: inline-flex; align-items: center; gap: 10rem; height: 45.375rem;}
.lines-column {display: flex; flex-direction: column; justify-content: space-between; height: 100%;
    .line-blue-box {display: flex; flex-direction: column; gap: 6.25rem;}
    .line {width: 9.125rem; height: .375rem; background-color: var(--neutral-500);
        &.blue {background-color: var(--point);}
    }
}
/* 공 움직임 설정 */
.ball-path {position: relative; width: 10rem; height: 100%;}
.ball {position: absolute; top: 45%; left: 50%; transform: translate(-50%, -50%); transition: transform 0.1s ease-out; width: 10rem; height: auto; text-align: center;}
.btm-box {display: inline-flex; align-items: center; flex-direction: column; gap: 2.5rem;}
.btn-start {width: 11.25rem; height: 11.25rem; background: url(../../resource/images/common/btn-start.svg) no-repeat center/cover; transition: all 0.2s ease-in-out;
    &:hover {background: url(../../resource/images/common/btn-start_hover.svg) no-repeat center/cover;}
}

/* 소아 */
.measurement-section__balloon {
    .measurement-inner {display: flex;}
    .gauge-container {height: 22.5rem; background: url(../../resource/images/common/balloon-blue_bg.svg) no-repeat center/cover;}
} 
.balloon-path {width: 22.5rem;}
.balloon {top: 63%;}
/* .balloon-test__content {display: flex; align-items: center; flex-direction: column; gap: 5.25rem; width: calc(100% - 15rem);}
.balloon__bg.wait {display: flex; align-items: center; justify-content: center; width: 22.5rem; height: 22.5rem; background: url(../../resource/images/common/balloon-blue_bg.svg) no-repeat center / cover;
    img {margin-top: 5.25rem; width: 10rem;}
}
.balloon__bg {width: 35.375rem; height: 35.375rem; background: url(../../resource/images/common/balloon-blue_bg.svg) no-repeat center / cover;} */

/* 잔여시간 */
.timer-sec {position: absolute; right: 0; top: 0; display: flex; align-items: center; justify-content: center; width: 15rem; height: 15rem; background-color: var(--default-white); border: 1.5rem solid var(--point); border-radius: 50%; box-shadow: 2.5px 2.5px 8px 0 rgba(0, 0, 0, 0.12);
    .timer-sec__text {
        p {color: var(--neutral-700);}
        .timer-sec__num {padding-right: .25rem;}
    }
}
/*  */
.circle_progress_wrap {
  position: relative;
  width: 120px;
  height: 120px;
}
.circle_progress { transform: rotate(-90deg); }
.frame, .bar { fill: none; }
.frame { stroke: #e6e6e6; }
.bar {
  stroke: #03c75a;
  stroke-linecap: round;
}
.value {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  text-align: center;
  color: #888;
  font-size: 16px;
  line-height: 120px;
}
/*  */

/********************************* 02 demo 데모 *********************************/
.no-data {padding: 5.25rem 0;
    .ic-data-edit {background-color: var(--neutral-400);}
    p {padding-top: 8px; color: var(--neutral-400);}
}

/********************************* 03 환자 데이터  *********************************/
/* 데이터 리스트 data list */
.data-list__total {margin-bottom: 1rem; color: var(--neutral-700);}
.total-num {color: var(--bg2);}
.table-box__checkbox {
    tbody tr:hover {background-color: var(--neutral-200);}
    tbody tr:hover td:first-child, tbody tr:hover td:nth-child(2) {color: var(--point);}
}


.chart_wrap {width: 100%; height: 400px;}